<a href="https://colab.research.google.com/github/muneeba-younus/Data-Science-Assignments/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 1:**

In [131]:
import pandas as pd
import numpy as np

data = pd.read_csv("/content/netflix_titles.csv")

def split_comma(data):
  data = str(data)
  if data == "nan":
    return 0
  return len(data.split(","))

data['num_of_cast'] = data["cast"].apply(split_comma)
data

     show_id  ... num_of_cast
0         s1  ...           0
1         s2  ...          19
2         s3  ...           9
3         s4  ...           0
4         s5  ...           8
...      ...  ...         ...
8802   s8803  ...          10
8803   s8804  ...           0
8804   s8805  ...           7
8805   s8806  ...           9
8806   s8807  ...           8

[8807 rows x 13 columns]

# **Question 2:**

In [163]:
data = pd.read_csv("/content/netflix_titles.csv")
data.groupby("type")["type"].count()

type
Movie      6131
TV Show    2676
Name: type, dtype: int64